<section class="container">
  <section class="bg-light py-3">
    <section class="row px-4 float-right">
      <h4 class="py-3"><strong>Nombre del País:</strong> {{ pais }}</h4>
      <section class="col-sm-12 d-flex">
        <img src="assets/peru.jpg" alt="angular" style="width: 250px" />
      </section>
      <section class="col-sm-12 d-flex flex-column py-4">
        <h4 class="fw-bold">Datos Generales.</h4>
        <p>
          Perú es un país de Sudamérica que abarca una sección del bosque del
          Amazonas y Machu Picchu, una antigua ciudad inca en las alturas de los
          Andes. La región en torno a Machu Picchu, incluido el Valle Sagrado, el
          Camino del Inca y la ciudad colonial de Cuzco, es rica en sitios
          arqueológicos.
        </p>
        <p>
          El Perú es uno de los países más variados del mundo. Un país multicultural, 
          lleno de tradiciones, una laureada gastronomía y vastas reservas naturales.
        </p>
      </section>
    </section>
  </section>
</section>


