<section class="container">
    <section class="bg-light py-3">
      <section class="row px-4 float-right">
        <h4 class="py-3"><strong>Nombre del País:</strong> {{ pais }}</h4>
        <section class="col-sm-12 d-flex">
          <img src="assets/chile.webp" alt="angular" style="width: 250px" />
        </section>
        <section class="col-sm-12 d-flex flex-column py-4">
          <h4 class="fw-bold">Datos Generales.</h4>
          <p>
           Chile es un país largo y angosto que se extiende por el borde occidental de Sudamérica, 
            con más de 6,000 km de costa en el océano Pacífico. Santiago, su capital, se ubica en 
            un valle rodeado de los Andes y la cordillera de la Costa. En la Plaza de Armas de la ciudad,
            bordeada de palmeras, se encuentra la catedral neoclásica y el Museo de Historia Nacional. 
            El enorme Parque Metropolitano cuenta con piscinas, un jardín botánico y un zoológico
          </p>
        </section>
      </section>
    </section>
  </section>