*{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: (100% - 250px);
    margin-top: 0px;
    margin-left: 250px;
    padding: 0px;
    height: 100%;
    transition: 0.3s;
    
    }