<section class="container">
    <section class="bg-light py-3">
      <section class="row px-4 float-right">
        <h4 class="py-3"><strong>Nombre del País:</strong> {{ pais }}</h4>
        <section class="col-sm-12 d-flex">
          <img src="assets/uruguay.webp" alt="angular" style="width: 250px" />
        </section>
        <section class="col-sm-12 d-flex flex-column py-4">
          <h4 class="fw-bold">Datos Generales.</h4>
          <p>
            Uruguay es un país de Sudamérica conocido por su interior verde
            y costa bordeada de playas. La capital, Montevideo, se ubica en torno 
            a la plaza Independencia, donde alguna vez hubo una ciudadela española.
            Esta lleva a la Ciudad Vieja, casas coloniales y el Mercado del Puerto 
            con muchos restaurantes de carnes. La Rambla es un paseo costero con puestos 
            de pescados, muelles y parques.
          </p>
        </section>
      </section>
    </section>
  </section>
